*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    height: 80%;
    width: 60%;
    display: flex;
    background: white;
    background: linear-gradient(to top right, rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.bloco{
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 50px;
    position: relative;
}

p{
    position: absolute;
    display: flex;

}

.direita{
    background: rgba(0,0,0,0.4);
}

.direita p{
    
    margin-left: 100%;
    animation: anima 4s linear infinite;
    color: white;
}
.esquerda p{
    margin-left: 200%;
    animation: anima2 4s linear infinite;
    color: black;
}



@keyframes anima{
    100%{
        margin-left: -180%;
    }
}

@keyframes anima2{
    100%{
        margin-left: -80%;
    }
}